{deps, [
    {couch_event, ".*",
        {git,"https://github.com/strmpnk/couchdb-event",
            {branch, "master"}}},
    {couch_log, ".*",
        {git, "https://github.com/strmpnk/couchdb-log",
            {branch, "master"}}},
    {couch_stats, ".*",
        {git,"https://github.com/strmpnk/couchdb-stats",
            {branch, "master"}}}
]}.
